<%= render layout: 'form_wrapper', locals: {title: 'Edit order delivery', icon: 'fa fa-road', fullscreenBtn: true, closeBtn: true} do %>
    <%= form_for [@order, @orderDelivery], :html => {:class => 'smart-form'} do |f| %>
        <% @form_css_id = "#" + f.options[:html][:id] %>
        <header>
          Specify the delivery attributes
        </header>

        <%= render partial: 'notices', locals: {notices: @notices} %>
        <% if @orderDelivery.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= pluralize(@orderDelivery.errors.count, "error") %> prohibited
                this article from being saved:
              </h2>
              <ul>
                <% @orderDelivery.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <fieldset>
          <div class="row">
            <%= render layout: 'form_field', locals: {
                f: f, col: 'col col-6',
                field_type: :date_field, field: :delivery_date, title: 'Delivery date', icon: 'fa fa-calendar', required: true, auto_submit: false} do
            end %>
            <%= render layout: 'form_field', locals: {
                f: f, col: 'col col-6', lab_wr_cl: 'select',
                field_type: nil, field: :delivery_shift_code, title: 'Time shift'} do %>
                <%= f.collection_select(
                        :delivery_shift_code, DeliveryShift.all, :code, :name, {},
                        {class: "form-control selectpicker", required: true}) %>
            <% end %>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <%= render layout: 'form_field', locals: {
                f: f, col: 'col col-6',
                field: :mode, title: 'Mode', icon: 'fa fa-truck', readonly: true} do %>
            <% end %>
            <%= render layout: 'form_field', locals: {
                f: f, col: 'col col-6',
                field: :handling_unit_type, title: 'Unit type', icon: 'fa fa-cube', readonly: true} do %>
            <% end %>

            <%= render layout: 'form_field', locals: {
                f: f, col: 'col col-6',
                field: :volume, title: 'Volume', icon: 'fa fa-cubes', readonly: true} do %>
            <% end %>
            <%= render layout: 'form_field', locals: {
                f: f, col: 'col col-6',
                field: :handling_unit_quantity, title: 'Unit quantity', icon: 'fa fa-cubes', readonly: true} do %>
            <% end %>
          </div>
        </fieldset>

        <fieldset>
          <div class="row">
            <section>
              <div class="col col-12">
                <label class="checkbox">
                  <input type="checkbox" name="split_delivery" id="split_delivery" value="split_delivery" <%= 'checked="checked"' if params[:split_delivery] %> onchange="initSplitDelivery();">
                  <i></i>Split into two delivery</label>
              </div>
            </section>
          </div>
          <div id="split_delivery_c" style="display: none;">
            <div class="row">
              <%= render layout: 'form_field', locals: {
                  col: 'col col-6',
                  field: :new_volume, title: 'Divide volume', icon: 'fa fa-cubes'} do %>
                  <%= number_field_tag :new_volume, params[:new_volume] %>
              <% end %>
              <%= render layout: 'form_field', locals: {
                  col: 'col col-6',
                  field: :new_unit_quantity, title: 'Divide unit quantity', icon: 'fa fa-cubes'} do %>
                  <%= number_field_tag :new_unit_quantity, params[:new_unit_quantity] %>
              <% end %>
            </div>

            <div class="row">
              <%= render layout: 'form_field', locals: {
                  col: 'col col-6',
                  field_type: :date_field, field: :new_delivery_date, title: 'New delivery date', icon: 'fa fa-calendar', field_value: params[:new_delivery_date]} do
              end %>
              <%= render layout: 'form_field', locals: {
                  col: 'col col-6', lab_wr_cl: 'select',
                  field_type: nil, field: :new_delivery_shift_code, title: 'New time shift'} do %>
                  <%= select_tag(:new_delivery_shift_code, options_from_collection_for_select(DeliveryShift.all, :code, :name) {},
                                 {class: "form-control selectpicker", required: true}) %>
              <% end %>
            </div>
          </div>
        </fieldset>

        <footer>
          <%= f.submit 'Save', class: 'btn btn-primary', onclick: 'save_submit(this);' %>
          <a href="<%= session[:return_to] %>" type="button" class="btn btn-default">
            Back
          </a>
        </footer>
    <% end %>
<% end %>

<% content_for :after_javascript_include_tag do %>
    <script type="text/javascript">
        runAllForms();

        function reCalculate(newEl, origEl) {
            if (!origEl.attr("data-origin-value")) {
                return
            }

            if (!newEl.val()) {
                origEl.val(origEl.attr("data-origin-value"));
                return
            }

            var newVal = parseFloat(newEl.val());
            var originVal = parseFloat(origEl.attr("data-origin-value"));

            origEl.val((originVal - newVal).toString());
        }

        function save_submit(sender) {
            if ($('#split_delivery')[0].checked)
                sender.form.elements["_method"].value = 'put';
        }

        function initSplitDelivery() {
            var splitDeliveryEl = $('#split_delivery');
            var volumeEl = $('#order_delivery_volume');
            var quantityEl = $('#order_delivery_handling_unit_quantity');
            var newVolumeEl = $('#new_volume');
            var newQuantityEl = $('#new_unit_quantity');

            var enabled = splitDeliveryEl[0].checked;
            if (enabled) {
                var oldVolume = parseFloat(volumeEl.val());
                //var oldVolume = parseInt(volumeEl.val());
                var oldQuantity = parseFloat(quantityEl.val());

                if (!volumeEl.attr("data-origin-value")) {
                    volumeEl.attr("data-origin-value", oldVolume);
                    newVolumeEl.bind("change", function () {
                        reCalculate(newVolumeEl, volumeEl);
                    });
                }

                if (!quantityEl.attr("data-origin-value")) {
                    quantityEl.attr("data-origin-value", oldQuantity);
                    newQuantityEl.bind("change", function () {
                        reCalculate(newQuantityEl, quantityEl);
                    });
                }

                if (oldVolume <= 1) {
                    splitDeliveryEl[0].checked = false;
                    alert('This volume can not be divided');
                    return
                }

                if (oldQuantity <= 1) {
                    splitDeliveryEl[0].checked = false;
                    alert('This quantity can not be divided');
                    return
                }

                $('#split_delivery_c').show();

                newVolumeEl.attr("required", "required");
                newVolumeEl.attr("min", 1);
                newVolumeEl.attr("max", (oldVolume - 1).toString());
                // newVolumeEl.attr("max", volumeEl.val());

                newQuantityEl.attr("required", "required");
                newQuantityEl.attr("min", 1);
                newQuantityEl.attr("max", oldQuantity - 1);

                $('#new_delivery_date').attr("required", "required");
                $('#new_delivery_shift_code').attr("required", "required");
            }
            else {
                $('#split_delivery_c').hide();

                newVolumeEl.removeAttr("required");
                newVolumeEl.removeAttr("min");
                newVolumeEl.removeAttr("max");

                newQuantityEl.removeAttr("required");
                newQuantityEl.removeAttr("min");
                newQuantityEl.removeAttr("max");

                if (volumeEl.attr("data-origin-value")) {
                    volumeEl.val(volumeEl.attr("data-origin-value"));
                }
                if (quantityEl.attr("data-origin-value")) {
                    quantityEl.val(quantityEl.attr("data-origin-value"));
                }

                $('#new_delivery_date').removeAttr("required");
                $('#new_delivery_shift_code').removeAttr("required");
            }
        }

        $(function () {

            initSplitDelivery();

            // Validation
            $("<%= @form_css_id %>").validate({
                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });

    </script>
<% end %>

<%= render 'orders/order' %>