<%
  entities ||= []
%>
<div class="table-responsive">
  <%= form_tag path, :method => method do %>
      <% if can? :create, TripCargo %>
          <%= submit_tag action_button_name, class: 'btn btn-primary btn-xs' %>
          <%= submit_tag 'Save ordering', class: 'btn btn-primary btn-xs', onclick: 'save_ordering(this);', style: 'display:none;' %>
      <% end %>

      <table class="table table-bordered">

        <thead>
        <tr class="tr-s">
          <th>
            <% if can? :create, TripCargo %>
                <input type="checkbox" onclick="chek_all(this);">
            <% end %>
            №
          </th>
          <th>Volume</th>
          <th colspan="7">Origin address / Destination address</th>
        </tr>
        <tr class="tr-e">
          <th>
            Order number
          </th>
          <th>
            Unit
          </th>
          <th>
            Name
          </th>
          <th>
            Phone
          </th>
          <th>
            Address
          </th>
          <th>
            City
          </th>
          <th>
            State
          </th>
          <th>
            Zip
          </th>
          <th>
            Country
          </th>
        </tr>
        </thead>
        <tbody>
        <% entities.each do |e| %>
            <%
              if e.instance_of? TripCargo
                cargo = e
                delivery = e.order_delivery
                next unless e.order_delivery

                field_ids_name = 'cargo_ids[]'
                ids = params[:cargo_ids]
                cur_id = cargo.id
              else
                cargo = nil
                delivery = e
                field_ids_name = 'delivery_ids[]'
                ids = params[:delivery_ids]
                cur_id = delivery.id
              end

              order = delivery.order
              ids ||= []
              cur_id ||= 0
            %>

            <tr class="tr-s">
              <td>
                <% if can? :create, TripCargo %>
                    <%= check_box_tag field_ids_name, cur_id, ids.include?(cur_id.to_s), id: nil %>
                    <% if cargo %>
                        <%= cargo.order_num %>
                        <%= hidden_field_tag 'ids[]', cargo.id %>
                        <span onclick="move_up(this)"><i class="fa fa-lg fa-arrow-up" aria-hidden="true"></i></span>
                        <span onclick="move_down(this)"><i class="fa fa-lg fa-arrow-down" aria-hidden="true"></i></span>
                    <% end %>
                <% else %>
                    <%= cargo.order_num %>
                <% end %>
              </td>
              <td>
                <%= delivery.volume %>
                <% if delivery.volume %>ft<sup>3</sup>
                <% end %>
                <% if can? :create, TripCargo %>
                    <a href="<%= edit_order_order_delivery_path(order, delivery) %>">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                <% end %>
              </td>

              <td>
                <%= order.origin_address.name %>
              </td>
              <td>
                <%= order.origin_address.phone_number %>
              </td>
              <td>
                <%= order.origin_address.raw_line_1 %>
              </td>
              <td>
                <%= order.origin_address.city %>
              </td>
              <td>
                <%= order.origin_address.state %>
              </td>
              <td>
                <%= order.origin_address.zip %>
              </td>
              <td>
                <%= order.origin_address.country %>
              </td>
            </tr>
            <tr class="tr-e">
              <td>
                <a href="<%= order_path(order) %>">
                  #<%= order.number %>
                </a>
              </td>
              <td>
                <%= delivery.handling_unit_quantity %> <%= delivery.handling_unit_type %>
              </td>
              <td>
                <%= order.destination_address.name %>
              </td>
              <td>
                <%= order.destination_address.phone_number %>
              </td>
              <td>
                <%= order.destination_address.raw_line_1 %>
              </td>
              <td>
                <%= order.destination_address.city %>
              </td>
              <td>
                <%= order.destination_address.state %>
              </td>
              <td>
                <%= order.destination_address.zip %>
              </td>
              <td>
                <%= order.destination_address.country %>
              </td>
            </tr>
        <% end %>

        </tbody>
      </table>

      <% if can? :create, TripCargo %>
          <%= submit_tag action_button_name, class: 'btn btn-primary btn-xs' %>
          <%= submit_tag 'Save ordering', class: 'btn btn-primary btn-xs', onclick: 'save_ordering(this);', style: 'display:none;' %>
      <% end %>
  <% end %>
</div>