<%= form_for @trip, :html => {:class => 'smart-form'} do |f| %>
    <% @form_css_id = "#" + f.options[:html][:id] %>
    <header>
      Specify the delivery attributes
    </header>

    <%= render partial: 'notices', locals: {notices: @notices} %>
    <% if @trip.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@trip.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @trip.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <fieldset>
      <div class="row">
        <%= render layout: 'form_field', locals: {
            f: f, col: 'col col-6',
            field_type: :date_field, field: :date, title: 'Date', icon: 'fa fa-calendar', required: true, auto_submit: true} do
        end %>
        <%= render layout: 'form_field', locals: {
            f: f, col: 'col col-6', lab_wr_cl: 'select',
            field_type: nil, field: :time_shift_code, title: 'Time shift'} do %>
            <%= f.collection_select(
                    :time_shift_code, DeliveryShift.all, :code, :name, {},
                    {class: "form-control selectpicker", required: true, onchange: 'this.form.submit();'}) %>
        <% end %>
      </div>
    </fieldset>

    <fieldset>
      <div class="row">
        <%= render layout: 'form_field', locals: {
            f: f, col: 'col col-6', lab_wr_cl: 'select',
            field_type: nil, field: :truck_id, title: 'Truck'} do %>
            <%= f.collection_select(
                    :truck_id,
                    Truck.available_on_date_and_time_shift(@trip_params[:date], @trip_params[:time_shift_code]),
                    :id, :name, {},
                    {class: 'form-control selectpicker', required: true,
                     onchange: 'this.form.elements["trip[driver_id]"].value = window.devault_drivers[this.value] ? window.devault_drivers[this.value] : "";'}) %>
            <script type="text/javascript">
                window.devault_drivers = {};
                <% Truck.all.each do |truck| %>
                window.devault_drivers['<%= truck.id %>'] = '<%= truck.default_driver_id %>';
                <% end %>
            </script>
        <% end %>
        <%= render layout: 'form_field', locals: {
            f: f, col: 'col col-6', lab_wr_cl: 'select',
            field_type: nil, field: :driver_id, title: 'Driver'} do %>
            <%= f.collection_select(
                    :driver_id,
                    User.available_drivers_on_date_and_time_shift(@trip_params[:date], @trip_params[:time_shift_code]),
                    :id, :email, {},
                    {class: "form-control selectpicker", required: true}) %>
        <% end %>
      </div>
    </fieldset>

    <footer>
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <a href="<%= trips_path %>" type="button" class="btn btn-default">
        Back
      </a>
    </footer>
<% end %>
<% content_for :after_javascript_include_tag do %>
    <script type="text/javascript">
        runAllForms();

        $(function () {

            // Validation
            $("<%= @form_css_id %>").validate({
                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    password: {
                        required: 'Please enter your password'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
<% end %>