<h1>Routing List on <%= @trip.date.strftime(ApplicationRecord.date_f) %> <%= @trip.time_shift.name %> </h1>
<div><b>Truck:</b> <%= @trip.truck.name %> <b>Dirver:</b> <%= @trip.driver.email %></div>
<% @trip.cargo.order(:order_num).each do |c| %>
    <%
      delivery = c.order_delivery
      order = c.order_delivery.order
      address_client = c.order_delivery.order.address_client
    %>
    <div style="margin: 20px 0px;">
      <div><b><%= c.order_num %>.</b> <%= address_client.to_s_address %></div>
      <div><b>Delivery:</b> <%= delivery.delivery_date_str %> <%= delivery.delivery_shift.name %></div>
      <div><b>Order:</b> #<%= order.number %>
        <b>Cargo:</b> <%= delivery.handling_unit_quantity %> <%= delivery.handling_unit_type %> (<%= delivery.volume %>
        ft<sub>3</sub>)
      </div>
      <div><b>Contact Phone #</b> <%= address_client.phone_number %> (<b>ask:</b> <%= address_client.name %>)</div>
    </div>
<% end %>