<% content_for :ribbon do %>
    <% if can? :create, Trip %>
        <a href="<%= new_trip_path %>" class="btn btn-ribbon" rel="tooltip" data-placement="bottom">
          <i class="fa fa-plus"></i>
        </a>
    <% end %>
<% end %>

<div class="table-responsive">
  <%= render layout: 'form_wrapper', locals: {title: 'Filter trips', icon: 'fa fa-filter', collapseBtn: true, article_style: 'padding-left:0px;'} do %>
      <%= form_tag @build_path.call(params), :method => 'get', class: 'smart-form' do %>
          <%= hidden_field_tag :p, 1 %>
          <% params[:s].each do |s| %>
              <%= hidden_field_tag 's[][d]', s[:d] %>
              <%= hidden_field_tag 's[][f]', s[:f] %>
          <% end %>
          <fieldset>
            <section class="col col-6">
              <label class="label">Search</label>
              <label class="input"> <i class="icon-append fa fa-search"></i>
                <%= text_field_tag 'f[search]', (params[:f][:search] if params[:f]) %>
                <b class="tooltip tooltip-top-right"><i class="fa fa-search txt-color-teal"></i> Please enter search
                  term</b></label>
            </section>
            <section class="col col-4">
              <label class="label">Trip date</label>
              <label class="input"> <i class="icon-append fa fa-calendar"></i>
                <%= date_field_tag 'f[date]', (params[:f][:date] if params[:f]) %>
                <!--<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">-->
                <b class="tooltip tooltip-top-right"><i class="fa fa-calendar txt-color-teal"></i> Please enter date</b></label>
            </section>
            <section class="col col-2 right_section">
              <%= submit_tag 'Search', class: 'btn btn-primary' %>
            </section>
          </fieldset>
      <% end %>
  <% end %>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        Trip date <%= sortable 'trips.date', 'Trip date' %>
      </th>
      <th>
        Time shift <%= sortable 'delivery_shifts.order', 'Time shift' %>
      </th>
      <th>
        Truck <%= sortable 'trucks.name', 'Truck' %>
      </th>
      <th>
        Driver <%= sortable 'users.email', 'Driver' %>
      </th>
      <th>Cargo</th>
      <th>Status</th>
    </tr>

    </thead>
    <tbody>
    <% @trips.each do |trip| %>
        <tr>
          <td>
            <a href="<%= trip_path(trip) %>">
              <%= trip.date.strftime(ApplicationRecord.date_f) if trip.date %>
            </a>

            <% if can? :export_to_txt, Trip %>
                <a href="<%= trip_txt_path(trip) %>" title="Export to txt"><i class="fa fa-lg fa-fw fa-file-text-o" aria-hidden="true"></i></a>
            <% end %>
            <% if can? :export_to_pdf, Trip %>
                <a href="<%= trip_pdf_path(trip) %>" target="_blank" title="Export to pdf"><i class="fa fa-lg fa-fw fa-file-pdf-o" aria-hidden="true"></i></a>
            <% end %>
          </td>
          <td title="<%= trip.time_shift ? trip.time_shift.name : 'delivery shift not specified' %>">
            <%= trip.time_shift_code %> - <%= trip.time_shift.name %>
          </td>
          <td>
            <%= trip.truck.name %> (<%= trip.truck.max_cubes %> ft<sup>3</sup>)
          </td>
          <td>
            <%= trip.driver.email %>
          </td>
          <td>
            <%= trip.volumes[:is_from_stock_to_client] %> ft<sup>3</sup>
            <% if trip.volumes[:is_from_client_to_stock] > 0 %>
                (return <%= trip.volumes[:is_from_client_to_stock] %> ft<sup>3</sup>)
            <% end %>
          </td>
          <th>
            Planing
          </th>
        </tr>
    <% end %>

    </tbody>
  </table>

  <%= render partial: 'pagination', locals: {pagination: @pagination} %>

</div>
