<% content_for :ribbon do %>
    <% if can? :export_to_txt, Trip %>
        <a href="<%= trip_txt_path(@trip) %>" class="btn btn-ribbon" rel="tooltip" data-placement="bottom" title="Export to txt"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
    <% end %>
    <% if can? :export_to_pdf, Trip %>
        <a href="<%= trip_pdf_path(@trip) %>" target="_blank" class="btn btn-ribbon" rel="tooltip" data-placement="bottom" title="Export to pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
    <% end %>

    <% if can? :destroy, Trip %>
        <a href="<%= trip_path(@trip) %>" data-method="delete" class="btn btn-ribbon" rel="tooltip" data-placement="bottom"
           data-title="Delete" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! Delete?" data-html="true" data-reset-msg="Would you delete trip?">
          <i class="fa fa-remove"></i>
        </a>
    <% end %>
<% end %>



<%= render layout: 'form_wrapper', locals: {title: 'Trip', icon: 'fa fa-road', fullscreenBtn: true, closeBtn: true, article_style: 'padding-left:0px;'} do %>
    <form class="smart-form">
      <header>
        Trip and cargo
      </header>

      <%= render partial: 'notices', locals: {notices: @notices} %>

      <fieldset>
        <div class="row">
          <%= render layout: 'form_field', locals: {
              col: 'col col-6',
              field_type: :date_field, field: :date, title: 'Date', icon: 'fa fa-calendar', readonly: true, field_value: @trip.date} do %>
          <% end %>
          <%= render layout: 'form_field', locals: {
              col: 'col col-6',
              field: :time_shift, title: 'Time shift', icon: 'fa fa-clock-o', readonly: true, field_value: @trip.time_shift.name} do %>
          <% end %>
        </div>
        <div class="row">
          <%= render layout: 'form_field', locals: {
              col: 'col col-6',
              field: :truck, title: 'Truck', icon: 'fa fa-truck', readonly: true, field_value: @trip.truck.name} do %>
          <% end %>
          <%= render layout: 'form_field', locals: {
              col: 'col col-6',
              field: :driver, title: 'Driver', icon: 'fa fa-user-md', readonly: true, field_value: @trip.driver.email} do %>
          <% end %>
        </div>
      </fieldset>

    </form>
<% end %>

<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">


    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
      <!-- widget options:
      usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

      data-widget-colorbutton="false"
      data-widget-editbutton="false"
      data-widget-togglebutton="false"
      data-widget-deletebutton="false"
      data-widget-fullscreenbutton="false"
      data-widget-custombutton="false"
      data-widget-collapsed="true"
      data-widget-sortable="false"

      -->
      <header role="heading">
        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
        <h2>Default Tabs with border </h2>

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

      <!-- widget div-->
      <div role="content">

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
          <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body">
          <p>
            When the orders for delivery, orders must be considered to return (to the
            <code>truck must have the necessary amount
            </code>)
          </p>
          <hr class="simple">

          <%

            cargo_items = @trip.cargo.order :order_num
            available_delivery = OrderDelivery.available_delivery_on_date_and_time_shift(@trip.date, @trip.time_shift_code)

          %>

          <ul id="myTab1" class="nav nav-tabs bordered">
            <li class="active">
              <a href="#s1" data-toggle="tab" aria-expanded="true">Cargo
                <span class="badge bg-color-blue txt-color-white"><%= cargo_items.count %></span>
                <span class="badge bg-color-blue txt-color-white">
                  <%= @trip.volumes[:is_from_stock_to_client] %> ft<sup>3</sup>
                  <% if @trip.volumes[:is_from_client_to_stock] > 0 %>
                    (return <%= @trip.volumes[:is_from_client_to_stock] %> ft<sup>3</sup>)
                <% end %> / <%= @trip.truck.max_cubes %> ft<sup>3</sup></span></a>
            </li>
            <% if can? :create, TripCargo %>
                <li class="">
                  <a href="#s2" data-toggle="tab" aria-expanded="false"><i class="fa fa-fw fa-lg fa-gear"></i> Orders
                    <span class="badge bg-color-blue txt-color-white"><%= available_delivery.count %></span>
                    <span class="badge bg-color-blue txt-color-white"><%= available_delivery.sum { |d| !Address.address_stock_names.include?(d.order.destination_address.name) ? d.volume : 0 } %>
                      ft<sup>3</sup>
                      <%
                        ret_sum = available_delivery.sum { |d| Address.address_stock_names.include?(d.order.destination_address.name) ? d.volume : 0 }
                        if ret_sum > 0 %>
                    (return <%= ret_sum %> ft<sup>3</sup>)
                <% end %>

                    </span></a>
                </li>
            <% end %>
          </ul>

          <div id="myTabContent1" class="tab-content padding-10">
            <div class="tab-pane fade active in" id="s1">
              <%= render layout: 'trips/cargo_table', locals: {entities: cargo_items, path: trip_cargo_index_path(@trip), method: 'delete', action_button_name: 'Exclude'} do %>
              <% end %>
            </div>
            <% if can? :create, TripCargo %>
                <div class="tab-pane fade" id="s2">
                  <%= render layout: 'trips/cargo_table', locals: {entities: available_delivery, path: trip_cargo_index_path(@trip), method: 'post', action_button_name: 'Include'} do %>
                  <% end %>
                </div>
            <% end %>
          </div>

        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget div -->

    </div>
    <!-- end widget -->

  </article>
</div>

<script>
    function move_up(sender) {
        var tr1 = $($(sender).parents('tr')[0]);
        var tr2 = tr1.next('tr');

        var tr_pref = tr1.prev('tr').prev('tr');

        if (tr_pref.length == 1) {
            tr1.insertBefore(tr_pref);
            tr2.insertAfter(tr1);
        }

        show_save_ordering(sender);
    }

    function move_down(sender) {
        var tr1 = $($(sender).parents('tr')[0]);
        var tr2 = tr1.next('tr');

        var tr_next = tr2.next('tr').next('tr');

        if (tr_next.length == 1) {
            tr1.insertAfter(tr_next);
            tr2.insertAfter(tr1);
        }

        show_save_ordering(sender);
    }

    function show_save_ordering(sender) {
        var form = $($(sender).parents('form')[0]);
        $(form).find('input[value="Save ordering"]').each(function () {
            $(this).show();
        });
    }

    function save_ordering(sender) {
        sender.form.elements["_method"].value = 'put';
    }

    function chek_all(sender) {
        $(sender.form).find('input[type=checkbox]').each(function () {
            this.checked = sender.checked;
        });
    }

</script>

