<div class="well no-padding">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "smart-form client-form"}) do |f| %>
      <% @form_css_id = "#" + f.options[:html][:id] %>
      <header>
        Sign In
      </header>
      <fieldset>

        <section>
          <%= f.label(:email, class: "label") %>
          <label class="input"> <i class="icon-append fa fa-user"></i>
            <%= f.email_field :email, autofocus: true, required: true, email: true %>
            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email
              address/username</b></label>
        </section>

        <section>
          <%= f.label(:password, class: "label") %>
          <label class="input"> <i class="icon-append fa fa-lock"></i>
            <%= f.password_field :password, autocomplete: "off", required: true, minlength: 3, maxlength: 20 %>
            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
          </label>

          <div class="note">
            <%= render "devise/shared/links" %>
          </div>
        </section>

        <% if devise_mapping.rememberable? -%>
            <section>
              <label class="checkbox">
                <%= f.check_box :remember_me %>
                <i></i><%= f.label :remember_me %></label>
            </section>
        <% end -%>

      </fieldset>
      <footer>
        <%= f.submit "Sign in", class: "btn btn-primary" %>
      </footer>
  <% end %>

</div>

<h5 class="text-center"> - Or sign in using -</h5>

<ul class="list-inline text-center">
  <li>
    <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
  </li>
</ul>

<script type="text/javascript">
    runAllForms();

    $(function() {
        // Validation
        $("<%= @form_css_id %>").validate({
            // Messages for form validation
            messages : {
                email : {
                    required : 'Please enter your email address',
                    email : 'Please enter a VALID email address'
                },
                password : {
                    required : 'Please enter your password'
                }
            },

            // Do not change code below
            errorPlacement : function(error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>