<div class="well no-padding">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, :class => "smart-form client-form"}) do |f| %>
      <% @form_css_id = "#" + f.options[:html][:id] %>
      <header>
        Forgot your password?
      </header>

      <%= devise_error_messages! %>

      <fieldset>

        <section>
          <%= f.label(:email, class: "label") %>
          <label class="input"> <i class="icon-append fa fa-user"></i>
            <%= f.email_field :email, autofocus: true, required: true, email: true %>
            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email
              address/username</b></label>
        </section>

        <section>

          <div class="note">
            <%= render "devise/shared/links" %>
          </div>
        </section>

      </fieldset>

      <footer>
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </footer>
  <% end %>
</div>

<script type="text/javascript">
    runAllForms();

    $(function () {
        // Validation
        $("<%= @form_css_id %>").validate({
            // Messages for form validation
            messages: {
                email: {
                    required: 'Please enter your email address',
                    email: 'Please enter a VALID email address'
                },
                password: {
                    required: 'Please enter your password'
                }
            },

            // Do not change code below
            errorPlacement: function (error, element) {
                error.insertAfter(element.parent());
            }
        });
    });
</script>
