<%
  article_style ||= ''
  collapseBtn ||= false
  fullscreenBtn ||= false
  closeBtn ||= false
  icon ||= ''
  title ||= '???'
%>
<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable" style="<%= article_style ? article_style : '' %>">

  <!-- Widget ID (each widget will need unique ID)-->
  <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
    <!-- widget options:
    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

    data-widget-colorbutton="false"
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true"
    data-widget-sortable="false"

    -->
    <header role="heading">
      <div class="jarviswidget-ctrls" role="menu">
        <% if collapseBtn %>
            <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse"><i class="fa fa-minus "></i></a>
        <% end %>
        <% if fullscreenBtn %>
            <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a>
        <% end %>
        <% if closeBtn %>
            <a href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Close"><i class="fa fa-times"></i></a>
        <% end %>
      </div>
      <span class="widget-icon"> <i class="<%= icon %>"></i> </span>
      <h2><%= title %></h2>

      <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>

    <!-- widget div-->
    <div role="content">

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body no-padding">
        <%= yield %>
      </div>
      <!-- end widget content -->

    </div>
    <!-- end widget div -->

  </div>
  <!-- end widget -->

</article>