<%
  f ||= nil
  readonly ||= false
  col ||= ''
  field_type ||= nil
  field ||= nil
  field_value ||= nil
  title ||= nil
  icon ||= ''
  tooltip ||= "Please enter #{ title || field || 'field'}" unless readonly
  tooltip ||= "#{ title || field || 'field'}" if readonly
  lab_wr_cl ||= 'input'
  required ||= false
  auto_submit ||= false
%>
<section class="<%= col %>">
  <% if f %>
      <%= f.label field, title, class: 'label' %>
  <% else %>
      <%= label_tag field, title, class: 'label' %>
  <% end %>
  <label class="<%= lab_wr_cl %>">
    <% if icon %>
        <i class="icon-append <%= icon %>"></i>
    <% end %>
    <%= yield %>
    <% unless readonly %>
        <% case field_type
             when :date_field %>
            <%= f.date_field field, required: required, onchange: auto_submit ? 'this.form.submit();' : nil if f %>
            <%= date_field_tag field, field_value unless f %>
        <% end %>
    <% else %>
        <% case field_type
             when :date_field %>
            <%= f.date_field field, readonly: true if f %>
            <%= date_field_tag field, field_value ? field_value.strftime("%Y-%m-%d") : nil, readonly: true unless f %>
        <% else %>
            <%= f.text_field field, readonly: true if f %>
            <%= text_field_tag field, field_value, readonly: true unless f %>
        <% end %>
    <% end %>
    <% if icon && icon != '' %>
        <b class="tooltip tooltip-top-right">
          <i class="<%= icon %> txt-color-teal"></i>
          <%= tooltip %>
        </b>
    <% end %>
  </label>
</section>