<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->

<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is -->

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<img src="/img/avatars/sunny.png" alt="me" class="online"/>
						<span>
							<%= current_user.email %>
						</span>
						<i class="fa fa-angle-down"></i>
					</a>

				</span>
  </div>
  <!-- end user info -->

  <!-- NAVIGATION : This navigation is also responsive

  To make this navigation dynamic please make sure to link the node
  (the reference to the nav > ul) after page load. Or the navigation
  will not initialize.
  -->
  <nav>
    <!--
    NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
      <li class="">
        <a href="/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i>
          <span class="menu-item-parent">Dashboard</span></a>
      </li>

      <% if can? :index, Order %>
          <li class="">
            <a href="#" title="Orders"><i class="fa fa-lg fa-fw fa-truck"></i>
              <span class="menu-item-parent">Orders</span></a>
            <ul>
              <li class="">
                <a href="<%= orders_path %>" title="All orders"><span class="menu-item-parent">All orders</span></a>
              </li>
              <% if can? :upload, Order %>
                  <li class="">
                    <a href="<%= orders_upload_path %>" title="Upload"><span class="menu-item-parent">Upload</span></a>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>

      <% if can?(:index, Trip) || can?(:index_my, Trip) %>
          <li class="">
            <a href="#" title="Trips"><i class="fa fa-lg fa-fw fa-road"></i>
              <span class="menu-item-parent">Trips</span></a>
            <ul>
              <% if can? :index, Trip %>
                  <li class="">
                    <a href="<%= trips_path %>" title="All trips"><span class="menu-item-parent">All trips</span></a>
                  </li>
              <% end %>
              <% if can? :index_my, Trip %>
                  <li class="">
                    <a href="<%= trips_my_path %>" title="My trips"><span class="menu-item-parent">My trips</span></a>
                  </li>
              <% end %>
              <% if can? :create, Trip %>
                  <li class="">
                    <a href="<%= new_trip_path %>" title="Planing trip"><span class="menu-item-parent">Planing trip</span></a>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>

      <% if can? :index, Truck %>
          <li class="">
            <a href="#" title="Reference"><i class="fa fa-lg fa-fw fa-table"></i>
              <span class="menu-item-parent">Reference</span></a>
            <ul>
              <% if can? :index, Truck %>
                  <li class="">
                    <a href="<%= trucks_path %>" title="Trucks"><span class="menu-item-parent">Trucks</span></a>
                  </li>
              <% end %>
            </ul>
          </li>
      <% end %>
    </ul>
  </nav>

  <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>

<!-- END NAVIGATION -->