<% if notices %>
    <article class="col-sm-12">
      <% notices.notices.each do |notice| %>

          <% case notice.type
               when Notice::SUCCESS %>
              <div class="alert alert-success fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-check"></i>
                <strong>Success</strong> <%= notice.message %>
              </div>

          <% when Notice::INFO %>
              <div class="alert alert-info fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-info"></i>
                <strong>Info!</strong> <%= notice.message %>
              </div>

          <% when Notice::WARNING %>
              <div class="alert alert-warning fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>Warning</strong> <%= notice.message %>
              </div>

          <% when Notice::ERROR %>
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i>
                <strong>Error!</strong> <%= notice.message %>
              </div>

          <% end %>

      <% end %>
    </article>
<% end %>

