<div class="sortable_column">
  <%
    icon = 'fa fa-sort'
    icon = 'fa fa-sort-alpha-asc' if sort_order && asc
    icon = 'fa fa-sort-alpha-desc' if sort_order && desc
  %>
  <!--<a href="<%= url %>"><%= title %></a>-->
  <a href="<%= url %>" title="<%= "sort #{asc ? 'descending' : 'ascending'} by  #{title}" %>">
    <i style="<%= 'color: silver' unless sort_order %>" class="<%= icon %>"></i>
    <% if sort_order %><sup><%= sort_order %></sup>
    <% end %>
  </a>
</div>

