<!DOCTYPE html>
<html>
<head>
  <title>Larkin Delivery System</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- #GOOGLE FONT -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

  <!-- #FAVICONS -->
  <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<header id="header">
  <div id="logo-group">
    <span id="logo"> <img src="/img/logo.png" alt="Larkin LLC"> </span>
  </div>
</header>

<div id="main" role="main">
  <!-- MAIN CONTENT -->
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">Larkin LLC</h1>
        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">If apartment atmosphere brings dark thoughts, change the furniture!</h4>
            <div class="login-app-icons">
              <a href="javascript:void(0);" class="btn btn-danger btn-sm">Order the sofa</a>
              <a href="javascript:void(0);" class="btn btn-danger btn-sm">Order two sofas</a>
            </div>
          </div>
          <img src="/img/chair_PNG6910.png" class="pull-right display-image" alt="" style="width:210px">
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">About Larkin LLC</h5>
            <p>
              Larkin LLC is a small furniture manufacturing company in US. It has one distribution center in RALEIGH, NC 27603. Manufacturer’s shop is located far from closest cities, so customers often make orders via phone or website.
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Delivery!</h5>
            <p>
              Company offers white-glove delivery for purchased commodities.
            </p>
          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <%= yield %>
      </div>

    </div>
  </div>

  <!--[if IE 8]>

  <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

  <![endif]-->
</div>

</body>
</html>
