<!DOCTYPE html>
<html>
<head>
  <title>Larkin Delivery System</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- #GOOGLE FONT -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

  <!-- #FAVICONS -->
  <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">


</head>

<body class="smart-style-0 desktop-detected">

<!-- #HEADER -->
<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="/img/logo.png" alt="Larkin LLC"> </span>
    <!-- END LOGO PLACEHOLDER -->

    <!-- Note: The activity badge color changes when clicked and resets the number to 0
       Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <!--<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>-->
    <!-- collapse menu button -->
    <span id="hide-menu" class="activity-dropdown" data-action="toggleMenu" title="Collapse Menu"> <i class="fa fa-reorder"></i></span>
    <!-- hide-menu end collapse menu -->

    <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
    <!--<div class="ajax-dropdown">

      &lt;!&ndash; the ID links are fetched via AJAX to the ajax container "ajax-notifications" &ndash;&gt;
      <div class="btn-group btn-group-justified" data-toggle="buttons">
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/mail.html">
          Msgs (14) </label>
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/notifications.html">
          notify (3) </label>
        <label class="btn btn-default">
          <input type="radio" name="activity" id="ajax/notify/tasks.html">
          Tasks (4) </label>
      </div>

      &lt;!&ndash; notification content &ndash;&gt;
      <div class="ajax-notifications custom-scroll">

        <div class="alert alert-transparent">
          <h4>Click a button to show messages here</h4>
          This blank page message helps protect your privacy, or you can show the first message here automatically.
        </div>

        <i class="fa fa-lock fa-4x fa-border"></i>

      </div>
      &lt;!&ndash; end notification content &ndash;&gt;

      &lt;!&ndash; footer: refresh area &ndash;&gt;
      <span> Last updated on: 12/12/2013 9:43AM
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
      &lt;!&ndash; end footer &ndash;&gt;

    </div>-->
    <!-- END AJAX-DROPDOWN -->
  </div>

  <!-- #TOGGLE LAYOUT BUTTONS -->
  <!-- pulled right: nav area -->
  <div class="pull-right">

    <!-- collapse menu button -->
    <!--<div id="hide-menu" class="btn-header pull-right">
      <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
    </div>-->
    <!-- end collapse menu -->

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
      <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
          <img src="/img/avatars/sunny.png" alt="John Doe" class="online"/>
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i>
              Setting</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#ajax/profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i>
              <u>P</u>rofile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i class="fa fa-arrow-down"></i>
              <u>S</u>hortcut</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i>
              Full <u>S</u>creen</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="login.html" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i>
              <strong><u>L</u>ogout</strong></a>
          </li>
        </ul>
      </li>
    </ul>


    <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right">
          <span>
            <% if user_signed_in? %>
                <%= link_to destroy_user_session_path, :method => :delete, :title => "Sign Out", :"data-action" => "userLogout", :"data-logout-msg" => "You can improve your security further after logging out by closing this opened browser" do %>
            <i class="fa fa-sign-out"></i>
    <% end %>
                <% else %>
                <%= link_to new_user_session_path, :title => "Sign In" do %>
            <i class="fa fa-sign-in"></i>
    <% end %>
    <% end %>
    </span>
    </div>
    <!-- end logout button -->


    <!-- search mobile button (this is hidden till mobile view port) -->
    <!--<div id="search-mobile" class="btn-header transparent pull-right">
      <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>-->
    <!-- end search mobile button -->

    <!-- #SEARCH -->
    <!-- input: search field -->
    <!-- <form action="#ajax/search.html" class="header-search pull-right">
       <input id="search-fld" type="text" name="param" placeholder="Find reports and more">
       <button type="submit">
         <i class="fa fa-search"></i>
       </button>
       <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
     </form>-->
    <!-- end input: search field -->

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-right">
      <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->

    <!-- #Voice Command: Start Speech -->
    <!-- NOTE: Voice command button will only show in browsers that support it. Currently it is hidden under mobile browsers.
           You can take off the "hidden-sm" and "hidden-xs" class to display inside mobile browser-->
    <!--<div id="speech-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
      <div>
        <a href="javascript:void(0)" title="Voice Command" data-action="voiceCommand"><i class="fa fa-microphone"></i></a>
        <div class="popover bottom"><div class="arrow"></div>
          <div class="popover-content">
            <h4 class="vc-title">Voice command activated <br><small>Please speak clearly into the mic</small></h4>
            <h4 class="vc-title-error text-center">
              <i class="fa fa-microphone-slash"></i> Voice command failed
              <br><small class="txt-color-red">Must <strong>"Allow"</strong> Microphone</small>
              <br><small class="txt-color-red">Must have <strong>Internet Connection</strong></small>
            </h4>
            <a href="javascript:void(0);" class="btn btn-success" onclick="commands.help()">See Commands</a>
            <a href="javascript:void(0);" class="btn bg-color-purple txt-color-white" onclick="$('#speech-btn .popover').fadeOut(50);">Close Popup</a>
          </div>
        </div>
      </div>
    </div>-->
    <!-- end voice command -->

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <ul class="header-dropdown-list hidden-xs">
      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/img/blank.gif" class="flag flag-us" alt="United States"> <span> US</span>
          <i class="fa fa-angle-down"></i> </a>
        <ul class="dropdown-menu pull-right">
          <li class="active">
            <a href="javascript:void(0);"><img src="/img/blank.gif" class="flag flag-us" alt="United States"> English
              (US)</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- end multiple lang -->

  </div>
  <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->


<%= render 'left_panel' %>

<!-- #MAIN PANEL -->
<div id="main" role="main">

  <!-- RIBBON -->
  <div id="ribbon">


				<span class="ribbon-button-alignment">
          <%= yield :ribbon %>

          <!--<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true" data-reset-msg="Would you like to RESET all your saved widgets and clear LocalStorage?"><i class="fa fa-refresh"></i></span>-->
          <%
            back_url = session[:return_to] ? session[:return_to] : request.referer
          %>
          <% if !action_name.start_with?("index") && back_url && URI(back_url).path != '/' %>
              <a href="<%= back_url %>" class="btn btn-ribbon" rel="tooltip" data-title="Back" data-placement="bottom"
                 data-original-title="<i class='text-warning fa fa-arrow-left'></i> Back" data-html="true" data-reset-msg="Back?">
                <i class="fa fa-arrow-left"></i>
              </a>
          <% end %>
				</span>

    <!-- breadcrumb -->
    <ol class="breadcrumb">
      <!-- This is auto generated -->
    </ol>
    <!-- end breadcrumb -->

    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
      <a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
      <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
      <button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
    </span> -->

  </div>
  <!-- END RIBBON -->

  <!-- #MAIN CONTENT -->
  <div id="content">
    <%= yield %>
  </div>

  <!-- END #MAIN CONTENT -->

</div>
<!-- END #MAIN PANEL -->

<!-- #PAGE FOOTER -->
<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <span class="txt-color-white">Larkin LCC <span class="hidden-xs"> - small furniture manufacturing company, producing the perfect furniture for you</span> © 2017</span>
    </div>

    <!--<div class="col-xs-6 col-sm-6 text-right hidden-xs">
      <div class="txt-color-white inline-block">
        <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong> </i>
        <div class="btn-group dropup">
          <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
            <i class="fa fa-link"></i> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu pull-right text-left">
            <li>
              <div class="padding-5">
                <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                <div class="progress progress-micro no-margin">
                  <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="padding-5">
                <p class="txt-color-darken font-sm no-margin">Server Load</p>
                <div class="progress progress-micro no-margin">
                  <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li >
              <div class="padding-5">
                <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                <div class="progress progress-micro no-margin">
                  <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                </div>
              </div>
            </li>
            <li class="divider"></li>
            <li>
              <div class="padding-5">
                <button class="btn btn-block btn-default">refresh</button>
              </div>
            </li>
          </ul>
        </div>
        &lt;!&ndash; end btn-group&ndash;&gt;
      </div>
      &lt;!&ndash; end div&ndash;&gt;
    </div>-->
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- END FOOTER -->

<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
   Note: These tiles are completely responsive, you can add as many as you like -->
<div id="shortcut">
  <ul>
    <li>
      <a href="<%= edit_user_password_path current_user %>" class="jarvismetro-tile big-cubes selected bg-color-pinkDark">
        <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
    </li>
  </ul>
</div>
<!-- END SHORTCUT AREA -->

<!--================================================== -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= yield :after_javascript_include_tag %>

<!--[if IE 8]>
<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->
</body>
</html>
