<!doctype html>
<html>
<head>
  <meta charset='utf-8'/>
  <title>Larkin Delivery System</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_javascript_include_tag "number_pages" %>
</head>
<body onload='number_pages'>
<div id="header">
  <%= wicked_pdf_image_tag '\img\logo.png' %>
</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>