<%
  address ||= nil
  prefix ||= 'address'
  title ||= ''

  return unless address
%>
<fieldset>
  <div class="row">
    <section>
      <div class="col col-12">
        <%= title %>
      </div>
    </section>
  </div>
  <div class="row">
    <%= render layout: 'form_field', locals: {
        col: 'col col-6',
        field: "#{prefix}_name", title: 'Name', icon: 'fa fa-user', readonly: true, field_value: address.name} do %>
    <% end %>
    <%= render layout: 'form_field', locals: {
        col: 'col col-6',
        field: "#{prefix}_phone", title: 'Phone', icon: 'fa fa-phone', readonly: true, field_value: address.phone_number} do %>
    <% end %>
  </div>
  <div class="row">
    <%= render layout: 'form_field', locals: {
        col: 'col col-6',
        field: "#{prefix}_raw_line_1", title: 'Address', icon: 'fa fa-map-marker', readonly: true, field_value: address.raw_line_1} do %>
    <% end %>
    <%= render layout: 'form_field', locals: {
        col: 'col col-6',
        field: "#{prefix}_city", title: 'City', icon: 'fa fa-map-marker', readonly: true, field_value: address.city} do %>
    <% end %>
  </div>
  <div class="row">
    <%= render layout: 'form_field', locals: {
        col: 'col col-4',
        field: "#{prefix}_state", title: 'State', icon: 'fa  fa-map-marker', readonly: true, field_value: address.state} do %>
    <% end %>
    <%= render layout: 'form_field', locals: {
        col: 'col col-4',
        field: "#{prefix}_zip", title: 'Zip', icon: 'fa  fa-map-marker', readonly: true, field_value: address.zip} do %>
    <% end %>
    <%= render layout: 'form_field', locals: {
        col: 'col col-4',
        field: "#{prefix}_country", title: 'Country', icon: 'fa fa-globe', readonly: true, field_value: address.country} do %>
    <% end %>
  </div>
</fieldset>