<%= render layout: 'form_wrapper', locals: {title: 'Order', icon: 'fa fa-road', fullscreenBtn: true, closeBtn: true, article_style: 'padding-left:0px;'} do %>
    <form class="smart-form">
      <header>
        Order and deliveries
      </header>

      <%= render partial: 'notices', locals: {notices: @notices} %>

      <fieldset>
        <div class="row">
          <%= render layout: 'form_field', locals: {
              col: 'col col-6',
              field: :time_shift, title: 'Order #', icon: 'fa fa-shopping-cart', readonly: true, field_value: @order.number} do %>
          <% end %>
        </div>

      </fieldset>

      <%= render 'orders/address', address: @order.origin_address, prefix: 'origin_address', title: 'Origin' %>
      <%= render 'orders/address', address: @order.destination_address, prefix: 'destination_address', title: 'Destination' %>
    </form>
<% end %>