<% content_for :ribbon do %>
    <a href="<%= orders_upload_path %>" class="btn btn-ribbon" rel="tooltip" data-placement="bottom">
      <i class="fa fa-upload"></i>
    </a>
<% end %>

<div class="table-responsive">

  <%= render layout: 'form_wrapper', locals: {title: 'Filter orders', icon: 'fa fa-filter', collapseBtn: true, article_style: 'padding-left:0px;'} do %>
      <%= form_tag orders_path(@params), :method => 'get', class: 'smart-form' do %>
          <%= hidden_field_tag :p, 1 %>
          <% params[:s].each do |s| %>
              <%= hidden_field_tag 's[][d]', s[:d] %>
              <%= hidden_field_tag 's[][f]', s[:f] %>
          <% end %>
          <fieldset>
            <div class="row">
              <section class="col col-6">
                <label class="label">Search</label>
                <label class="input"> <i class="icon-append fa fa-search"></i>
                  <%= text_field_tag 'f[search]', (params[:f][:search] if params[:f]) %>
                  <b class="tooltip tooltip-top-right"><i class="fa fa-search txt-color-teal"></i> Please enter search
                    term</b></label>
              </section>
              <section class="col col-3">
                <label class="label">Date</label>
                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                  <%= date_field_tag 'f[date]', (params[:f][:date] if params[:f]) %>
                  <!--<input type="text" name="startdate" id="startdate" placeholder="Expected start date" class="hasDatepicker">-->
                  <b class="tooltip tooltip-top-right"><i class="fa fa-calendar txt-color-teal"></i> Please enter
                    date</b></label>
              </section>
            </div>
            <div class="row">
              <section class="col col-3">
              </section>
              <section class="col col-3">
                <label class="label">State</label>
                <label class="select">
                  <select name="f[state]">
                    <% # знаю о специальных хелперах...
                       v = params[:f] && params[:f][:state] ? params[:f][:state] : nil
                    %>
                    <option value="all" <%= 'selected' if v.nil? || v == 'all' %> >All</option>
                    <option value="invalid" <%= 'selected' if v == 'invalid' %> >Invalid</option>
                    <option value="not_planed" <%= 'selected' if v == 'not_planed' %> >Not planed</option>
                    <option value="not_planed_only_valid" <%= 'selected' if v == 'not_planed_only_valid' %> >Not planed
                      (only valid)
                    </option>
                    <option value="planed" <%= 'selected' if v == 'planed' %> >Exists planed</option>
                    <option value="full_planed" <%= 'selected' if v == 'full_planed' %> >Full planed</option>
                  </select> <i></i> </label>
              </section>
              <section class="col col-3">
                <label class="label">Direction</label>
                <label class="select">
                  <select name="f[direct]">
                    <% # знаю о специальных хелперах...
                       v = params[:f] && params[:f][:direct] ? params[:f][:direct] : nil
                    %>
                    <option value="any" <%= 'selected' if v.nil? || v == 'any' %> >Any</option>
                    <option value="from_stock" <%= 'selected' if v == 'from_stock' %> >From stock</option>
                    <option value="to_stock" <%= 'selected' if v == 'to_stock' %> >To stock</option>
                  </select> <i></i> </label>
              </section>
              <section class="col col-3 right_section">
                <%= submit_tag 'Search', class: 'btn btn-primary' %>
              </section>
            </div>
          </fieldset>
      <% end %>
  <% end %>

  <table class="table table-bordered">
    <thead>
    <tr class="tr-s">
      <th style="width: 140px;">
        <span style="color: #9a0325;">Next delivery</span> (<span style="color: #0aa66e;">or last delivered</span>)
        date <%= sortable 'next_delivery_date_or_last_delivered_date', 'Next delivery date' %>
      </th>
      <th>Deliveries</th>
      <th colspan="7">Origin address / Destination address</th>
    </tr>
    <tr class="tr-e">
      <th>
        Order number <%= sortable 'number', 'Order number' %>
      </th>
      <th>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-1" title="Status">
            <i class="fa fa-lg fa-fw fa-road" aria-hidden="true"></i>
          </div>
          <div class="col-md-1">
            Mode
          </div>
          <div class="col-md-3">
            Date
          </div>
          <div class="col-md-1">
            Shift
          </div>
          <div class="col-md-3">
            Volume
          </div>
          <div class="col-md-2">
            Unit
          </div>
        </div>
      </th>
      <th>
        Name
        <div class="sortable_columns">
          <%= sortable 'o_name', 'Origin name' %> / <%= sortable 'd_name', 'Client name' %>
        </div>
      </th>
      <th>
        Phone
        <div class="sortable_columns">
          <%= sortable 'o_phone', 'Origin phone' %> / <%= sortable 'd_phone', 'Destination phone' %>
        </div>
      </th>
      <th>
        Address
        <div class="sortable_columns">
          <%= sortable 'o_address', 'Origin address' %> / <%= sortable 'd_address', 'Destination address' %>
        </div>
      </th>
      <th>
        City
        <div class="sortable_columns">
          <%= sortable 'o_city', 'Origin city' %> / <%= sortable 'd_city', 'Destination city' %>
        </div>
      </th>
      <th>
        State
        <div class="sortable_columns">
          <%= sortable 'o_state', 'Origin state' %> / <%= sortable 'd_state', 'Destination state' %>
        </div>
      </th>
      <th>
        Zip
        <div class="sortable_columns">
          <%= sortable 'o_zip', 'Origin zip' %> / <%= sortable 'd_zip', 'Destination zip' %>
        </div>
      </th>
      <th>
        Country
        <div class="sortable_columns">
          <%= sortable 'o_country', 'Origin country' %> / <%= sortable 'd_country', 'Destination zip' %>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr class="tr-s">
          <td>
            <span style="color: #9a0325;"><%= order.next_delivery_date.strftime(ApplicationRecord.date_f) if order.next_delivery_date %></span>
            <span style="color: #0aa66e;"><%= order.last_delivered_date.strftime(ApplicationRecord.date_f) if order.last_delivered_date %></span>
          </td>
          <td rowspan="2">
            <% order.deliveries.order(:delivery_date).each do |delivery| %>
                <div class="row">
                  <div class="col-md-1">
                    <a href="<%= edit_order_order_delivery_path(order, delivery) %>" title="Edit delivery">
                      <i class="fa fa-lg fa-fw fa-pencil" aria-hidden="true"></i>
                    </a>
                  </div>
                  <%
                    status = 'Not planed'
                    status_color = 'black'
                    if !delivery.trip_cargo.nil?
                      status = 'Planed trip'
                      status_color = '#0aa66e'
                    elsif delivery.invalid
                      status = "Invalid: #{delivery.invalid_message}"
                      status_color = 'red'
                    end

                  %>
                  <div class="col-md-1" title="<%= status %>">
                    <% if !delivery.trip_cargo.nil? %>
                        <a href="<%= trip_path(delivery.trip_cargo.trip_id) %>" style="color: <%= status_color %>;">
                          <i style="color: <%= status_color %>;" class="fa fa-lg fa-fw fa-road" aria-hidden="true"></i>
                        </a>
                    <% else %>
                        <span style="color: <%= status_color %>;"><i class="fa fa-lg fa-fw fa-ban" aria-hidden="true"></i></span>
                    <% end %>
                  </div>
                  <div class="col-md-1" title="<%= delivery.mode %>">
                    <i style="color: <%= status_color %>;" class="fa fa-lg fa-fw <%= delivery.mode == "TRUCKLOAD" ? 'fa-truck' : 'fa-question-circle-o' %>"></i>
                  </div>
                  <div class="col-md-3" title="<%= 'delivery date not specified' unless delivery.delivery_date %>">
                    <%= delivery.delivery_date_str if delivery.delivery_date %>
                    <% unless delivery.delivery_date %>
                        <i style="color: red;" class="fa fa-lg fa-fw fa-question-circle-o"></i>
                    <% end %>
                  </div>
                  <div class="col-md-1" title="<%= delivery.delivery_shift ? delivery.delivery_shift.name : 'delivery shift not specified' %>">
                    <%= delivery.delivery_shift_code %>
                    <% unless delivery.delivery_shift_code %>
                        <i style="color: red;" class="fa fa-lg fa-fw fa-question-circle"></i>
                    <% end %>
                  </div>
                  <div class="col-md-3">
                    <%= delivery.volume %>
                    <% if delivery.volume %>ft<sup>3</sup>
                    <% end %>
                  </div>
                  <div class="col-md-2">
                    <%= delivery.handling_unit_quantity %> <%= delivery.handling_unit_type %>
                  </div>
                </div>
            <% end %>
          </td>
          <td>
            <%= order.origin_address.name %>
          </td>
          <td>
            <%= order.origin_address.phone_number %>
          </td>
          <td>
            <%= order.origin_address.raw_line_1 %>
          </td>
          <td>
            <%= order.origin_address.city %>
          </td>
          <td>
            <%= order.origin_address.state %>
          </td>
          <td>
            <%= order.origin_address.zip %>
          </td>
          <td>
            <%= order.origin_address.country %>
          </td>
        </tr>
        <tr class="tr-e">
          <td>
            <a href="<%= order_path(order) %>">
              #<%= order.number %>
            </a>
          </td>
          <td>
            <%= order.destination_address.name %>
          </td>
          <td>
            <%= order.destination_address.phone_number %>
          </td>
          <td>
            <%= order.destination_address.raw_line_1 %>
          </td>
          <td>
            <%= order.destination_address.city %>
          </td>
          <td>
            <%= order.destination_address.state %>
          </td>
          <td>
            <%= order.destination_address.zip %>
          </td>
          <td>
            <%= order.destination_address.country %>
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>

  <%= render partial: 'pagination', locals: {pagination: @pagination} %>

</div>
