<% content_for :ribbon do %>
<% end %>

<%= render 'order' %>

<%= render layout: 'form_wrapper', locals: {title: 'Deliveries', icon: 'fa fa-road', fullscreenBtn: true, closeBtn: true, article_style: 'padding-left:0px;'} do %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="width: 50px;"></th>
          <th style="width: 50px;" title="Status">
            <i class="fa fa-lg fa-fw fa-road" aria-hidden="true"></i></th>
          <th>Mode</th>
          <th>Date</th>
          <th>Shift</th>
          <th>Volume</th>
          <th>Unit</th>
        </tr>
        </thead>
        <tbody>
        <% @order.deliveries.order(:delivery_date).each do |delivery| %>
            <% order = @order %>
            <tr>
              <td>
                <a href="<%= edit_order_order_delivery_path(order, delivery) %>" title="Edit delivery">
                  <i class="fa fa-lg fa-fw fa-pencil" aria-hidden="true"></i>
                </a>
              </td>
              <%
                status = 'Not planed'
                status_color = 'black'
                if !delivery.trip_cargo.nil?
                  status = 'Planed trip'
                  status_color = '#0aa66'
                elsif delivery.invalid
                  status = "Invalid: #{delivery.invalid_message}"
                  status_color = 'red'
                end
              %>
              <td title="<%= status %>">
                <% if !delivery.trip_cargo.nil? %>
                    <a href="<%= trip_path(delivery.trip_cargo.trip_id) %>" style="color: <%= status_color %>">
                      <i class="fa fa-lg fa-fw fa-road" aria-hidden="true"></i>
                    </a>
                <% else %>
                    <span style="color: <%= status_color %>"><i class="fa fa-lg fa-fw fa-road" aria-hidden="true"></i></span>
                <% end %>
              </td>
              <td title="<%= delivery.mode %>">
                <i class="fa fa-lg fa-fw <%= delivery.mode == "TRUCKLOAD" ? 'fa-truck' : 'fa-question-circle-o' %>"></i>
              </td>
              <td title="<%= 'delivery date not specified' unless delivery.delivery_date %>">
                <%= delivery.delivery_date_str if delivery.delivery_date %>
                <% unless delivery.delivery_date %>
                    <i style="color: red;" class="fa fa-lg fa-fw fa-question-circle-o"></i>
                <% end %>
              </td>
              <td title="<%= delivery.delivery_shift ? delivery.delivery_shift.name : 'delivery shift not specified' %>">
                <%= delivery.delivery_shift_code %>
                <% unless delivery.delivery_shift_code %>
                    <i style="color: red;" class="fa fa-lg fa-fw fa-question-circle"></i>
                <% end %>
              </td>
              <td>
                <%= delivery.volume %>
                <% if delivery.volume %>ft<sup>3</sup>
                <% end %>
              </td>
              <td>
                <%= delivery.handling_unit_quantity %> <%= delivery.handling_unit_type %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>