<%= render layout: 'form_wrapper', locals: {title: 'Upload orders', icon: 'fa fa-upload', fullscreenBtn: true, closeBtn: true} do %>
    <%= form_tag({action: :upload}, multipart: true, class: 'smart-form') do %>
        <header>
          Download has been done
        </header>

        <%= render partial: 'notices', locals: {notices: @notices} %>

        <footer>
          <a href="<%= orders_path %>" type="button" class="btn btn-primary">
            Ok
          </a>
        </footer>
    <% end %>
<% end %>