<%= render layout: 'form_wrapper', locals: {title: 'Upload orders', icon: 'fa fa-upload', fullscreenBtn: true, closeBtn: true} do %>
    <%= form_tag({action: :upload}, multipart: true, class: 'smart-form') do %>
        <header>
          Specify the csv file with orders
        </header>

        <%= render partial: 'notices', locals: {notices: @notices} %>

        <fieldset>
          <section>
            <label class="label">File</label>
            <label for="file" class="input input-file">
              <div class="button"><%= file_field_tag 'file', onchange: 'this.parentNode.nextSibling.nextSibling.value = this.value' %>
                Browse
              </div>
              <input type="text" placeholder="Include some files" readonly="">
            </label>
          </section>
        </fieldset>
        <fieldset>
          <div class="row">
            <section class="col col-5">
            </section>
            <section class="col col-7">
              <label class="label">Options</label>
              <label class="toggle">
                <input type="checkbox" name="not_download_all" value="not_download_all" <%= params[:not_download_all] ? 'checked="checked"' : '' %>>
                <i data-swchon-text="ON" data-swchoff-text="OFF"></i>do not download all if the file contains bad
                data</label>
            </section>
          </div>
        </fieldset>

        <footer>
          <%= submit_tag 'Upload', class: 'btn btn-primary' %>
          <a href="<%= orders_path %>" type="button" class="btn btn-default">
            Back
          </a>
        </footer>
    <% end %>
<% end %>