<div class="table-responsive">
  <%= render layout: 'form_wrapper', locals: {title: 'Filter trucks', icon: 'fa fa-filter', collapseBtn: true, article_style: 'padding-left:0px;'} do %>
      <%= form_tag @build_path.call(params), :method => 'get', class: 'smart-form' do %>
          <%= hidden_field_tag :p, 1 %>
          <% params[:s].each do |s| %>
              <%= hidden_field_tag 's[][d]', s[:d] %>
              <%= hidden_field_tag 's[][f]', s[:f] %>
          <% end %>
          <fieldset>
            <section class="col col-6">
              <label class="label">Search</label>
              <label class="input"> <i class="icon-append fa fa-search"></i>
                <%= text_field_tag 'f[search]', (params[:f][:search] if params[:f]) %>
                <b class="tooltip tooltip-top-right"><i class="fa fa-search txt-color-teal"></i> Please enter search
                  term</b></label>
            </section>
            <section class="col col-2 right_section">
              <%= submit_tag 'Search', class: 'btn btn-primary' %>
            </section>
          </fieldset>
      <% end %>
  <% end %>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        Truck name <%= sortable_column params, 'name', 'Name', &@build_path %>
      </th>
      <th>
        Max weight <%= sortable_column params, 'max_weight', 'Max weight', &@build_path %>
      </th>
      <th>
        Max cubes <%= sortable_column params, 'max_cubes', 'Max cubes', &@build_path %>
      </th>
      <th>
        Default driver <%= sortable_column params, 'users.email', 'Default driver', &@build_path %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @entities.each do |e| %>
        <tr>
          <td>
            <%= e.name %>
          </td>
          <td>
            <%= e.max_weight %>
            <% if e.max_weight %>lbs
            <% end %>
          </td>
          <td>
            <%= e.max_cubes %>
            <% if e.max_cubes %>ft<sup>3</sup>
            <% end %>
          </td>
          <td>
            <%= e.default_driver.email %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= render partial: 'pagination', locals: {pagination: @pagination} %>

</div>
