/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_directory smartadmin/css/
 * require_directory smartadmin
 * require vendor
 *= require_self
 */

@import "bootstrap";

@import "css/font-awesome.min";
@import "css/smartadmin-production-plugins.min";
@import "css/smartadmin-production.min";
@import "css/smartadmin-skins.min";

@import "welcome";
@import "order";

.sortable_column {
  float: right;
}

.sortable_columns {
  float: right;
}

.sortable_columns .sortable_column {
  float: none;
  display: inline-block;
}

.smart-form .right_section .btn {
  float: right;
  height: 31px;
  margin: 25px 0 0 5px;
  padding: 0 22px;
  font: 300 15px/29px 'Open Sans', Helvetica, Arial, sans-serif;
  cursor: pointer;
}

#logo-group span#hide-menu {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: default !important;
  display: inline-block;
  font-weight: 700;
  height: 24px;
  width: 24px;
  padding: 2px;
  text-align: center;
  text-decoration: none !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #bfbfbf;
  color: #c4bab6;
  font-size: 19px;
  margin: 10px 0 0;
  position: relative;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 6px 8px;
}

.table-bordered > thead > .tr-s > th,
.table-bordered > thead > .tr-s > td,
.table-bordered > tbody > .tr-s > th,
.table-bordered > tbody > .tr-s > td,
.table-bordered > tfoot > .tr-s > th,
.table-bordered > tfoot > .tr-s > td {
  border-bottom: 0px none red;
}

.table-bordered > thead > .tr-e > th,
.table-bordered > thead > .tr-e > td,
.table-bordered > tbody > .tr-e > th,
.table-bordered > tbody > .tr-e > td,
.table-bordered > tfoot > .tr-e > th,
.table-bordered > tfoot > .tr-e > td {
  border-top: 0px none red;
}